<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        
        
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="callSettersOnNulls" value="true" />
    </settings>


 
   <typeAliases>
<!--      <typeAlias type="com.naon.biz.developer.vo.TableVO"    alias="TableVO"/>
     <typeAlias type="com.naon.biz.developer.vo.ColumnVO"    alias="ColumnVO"/>
 -->   
       <package name="com.ksm.wfx" />
 
   </typeAliases>
        
</configuration>