<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
test
111
<span th:text="${test}" >11</span>
12312312
12312

p>Title of tutorial: [[${test}]]</p>
    <p>Description: [(${test2})]</p>
    
    
</body>
<script type="text/javascript">
/*<![CDATA[*/

var message = "[[${test}]]"
//alert(message)

/*]]>*/
 

</script>
<script type="text/javascript">

var count = "[[${test2}]]";
console.log(count);


</script>
</html>